.header
{
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 2px;
    
}

.header_logo
{
    padding-left: 200px;
    width: 10px;
    padding-left: 80px;
}

.header_search
{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 500px;   
    padding-left: -10px; 
}

.header_search > input{
    border: none;
    outline: none;
    width: 36vw;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: left;
}

.header_search > .MuiSvgIcon-root{
    color: #2874f0;
    padding: 5px;
    font-size: 25px;
}

.header_login
{
   padding-left: 50px;
   
}

.header_login > button 
{
    border:none;
    outline: none;
    width: 9vw;
    color: #2874f0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    padding: 7px;
}

.header_more
{
    align-items: bottom;
    display: flex;
    cursor: pointer;
    
}

.header_more {
    color: white;
    font-weight: 600;
    
}

.header_cart
{
    color:white;
    align-items: center;
    display: flex;
    font: bold;
    cursor: pointer;
    padding-left: 1px;
    
}

.moretooltipitem
{
    display: flex;
    align-items: center;
    padding: 0px 7px;
}

.moretooltipitem > .MuiSvgIcon-root {
    margin-right: 10px;
}

.moretooltip > hr{
    margin-left: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 108.5%;
    height: 0.5px;
    background-color:rgb(233, 233, 233);
    border: none;
}

.logintooltip > hr{
    margin-left: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 108.5%;
    height: 0.5px;
    background-color:rgb(233, 233, 233);
    border: none;
}

.logintooltipitem > .MuiSvgIcon-root {
    margin-right: 10px;
}

.logintooltipitem{
    display: flex;
    align-items: center;
}

.signup{
    font-weight:500;
    font-size:15px;
    color:#2874f0
}

.signup:hover{
    text-decoration: underline;
    cursor: pointer;
}